<div>
  <div class="text-center">
    <img src="../../../../assets/images/baseLogo_transparent.png" alt="">
  </div>
<table class="p-3" style="margin: auto">
  <tbody class="bg-primary ">
    <tr>
      <td class="w-5rem h-5rem p-2 border-round-left text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
      <td class="w-5rem h-5rem p-2 border-round-top text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
      <td class="w-5rem h-5rem p-2 border-round-right text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
    </tr>
    <tr>
      <td class="w-5rem h-5rem p-2 border-round-left text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
      <td class="w-5rem h-5rem p-2 text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
      <td class="w-5rem h-5rem p-2 border-round-right text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
   </tr>
   <tr>
      <td class="w-5rem h-5rem p-2 border-round-left text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
      <td class="w-5rem h-5rem p-2 border-round-bottom text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
      <td class="w-5rem h-5rem p-2 border-round-right text-center">
        <i *ngIf="" ngClass=""></i>
      </td>
    </tr>
  </tbody>
</table>
</div>
